NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_USER=webhook
DB_PASSWORD=webhook
DB_NAME=webhook_receiver

REDIS_HOST=localhost
REDIS_PORT=6379

WEBHOOK_SECRET=dev_secret_change_me_please
